.profile-shop-right{
    display: flex;
    flex-direction: column;
}

.profile-shop-middle{
    display: flex;
}
.profile-shop-top{
    margin-bottom: 40px;
    position: relative;
}
.dangxuat{
    position: absolute;
    right: 20px;
    top:12px
}
.profile-shop-bottom{
    margin-top: 80px;
    margin-left: 40px;
}
.profile-shop-bottom tr td{
    padding-right: 100px;
    padding-bottom: 20px;
}
