@import 'antd/dist/antd.css';

.slider-body{
    height: auto;
}

.slider-title {
    padding-left: 17px !important;
    font-size: 20px !important;
}
.title-icon{
    font-size: 30px !important;
    padding-right: 15px;
    
}
.slider-submenu{
    font-size: 20px;
    color: black;
}
@media (max-width:992px) {
    .slider-title {
        padding-left: 12px !important;
        font-size: 18px !important;
    }
    .title-icon{
        font-size: 15px !important;
        padding-right: 10px;
        
    }
    .slider-submenu{
        font-size: 16px;
        color: black;
    }
}
